## Aim: Write a program to implement the various type of data structures available in python and their operations.

1. LIST

In [ ]:
list = [1, "helloworld", 1+1]
print(list)
list[1]
list.append("MODY UNIVERSITY")
print(list)
list.pop()
print(list)

[1, 'helloworld', 2]
[1, 'helloworld', 2, 'MODY UNIVERSITY']
[1, 'helloworld', 2]

2. DICTIONARY

In [ ]:
dictionary = { 1:'a', 2:'b'}
print(dictionary)
print(dictionary.keys())
print(dictionary.values())
for index, value in enumerate(dictionary): 
    print (index, value , dictionary[value])
for i in dictionary:
    print ("%d %s" %(i, dictionary[i]))
print(1 in dictionary)
del dictionary[1]
print(dictionary)
print(1 in dictionary)

{1: 'a', 2: 'b'}
dict_keys([1, 2])
dict_values(['a', 'b'])
0 1 a
1 2 b
1 a
2 b
True
{2: 'b'}
False

3. TUPLE

In [ ]:
tuple = (1,"ananya", 1+2)
print(tuple)
print(tuple[1])
tuple[2]

(1, 'ananya', 3)
ananya

3

4. SET

In [ ]:
set = set()
for i in range(1,10):
    set.add(i)
print(set)
print("set =",set)

{1, 2, 3, 4, 5, 6, 7, 8, 9}
set = {1, 2, 3, 4, 5, 6, 7, 8, 9}